In [92]:
# 60191686 정성훈 인공지능 Homework Assignment1

# Question 1 - a) : Make 3 lists with python internal libraries

dep = ['cs', 'cs', 'dt', 'dcd', 'dt', 'as', 'as', 'ice', 'ice', 'ice']
sno = [0.001, 0.002, 0.003, 0.004, 0.005, 0.006, 0.007, 0.008, 0.009, 0.010]
gpa = [2.10, 3.50, 4.50, 2.70, 3.00, 3.15, 4.00, 0.00, 3.25, 3.70]
print(dep)
print(sno)
print(gpa)
print()

# Question 1 - b) : Make 3 lists with numpy array
import numpy as np

numpy_list = np.array([dep, sno, gpa])
print(numpy_list)
print()

# Question 1 - c) : Make 3 lists with pandas series
import pandas as pd

# pd_dep = pd.Series(dep)
# pd_sno = pd.Series(sno)
# pd_gpa = pd.Series(gpa)
pd_list = pd.DataFrame({
    'dep': dep,
    'sno': sno,
    'gpa': gpa
})
# print(pd_dep)
# print(pd_sno)
# print(pd_gpa)
pd_list

['cs', 'cs', 'dt', 'dcd', 'dt', 'as', 'as', 'ice', 'ice', 'ice']
[0.001, 0.002, 0.003, 0.004, 0.005, 0.006, 0.007, 0.008, 0.009, 0.01]
[2.1, 3.5, 4.5, 2.7, 3.0, 3.15, 4.0, 0.0, 3.25, 3.7]

[['cs' 'cs' 'dt' 'dcd' 'dt' 'as' 'as' 'ice' 'ice' 'ice']
 ['0.001' '0.002' '0.003' '0.004' '0.005' '0.006' '0.007' '0.008' '0.009'
  '0.01']
 ['2.1' '3.5' '4.5' '2.7' '3.0' '3.15' '4.0' '0.0' '3.25' '3.7']]

   dep    sno   gpa
0   cs  0.001  2.10
1   cs  0.002  3.50
2   dt  0.003  4.50
3  dcd  0.004  2.70
4   dt  0.005  3.00
5   as  0.006  3.15
6   as  0.007  4.00
7  ice  0.008  0.00
8  ice  0.009  3.25
9  ice  0.010  3.70

In [87]:
# Question 2 - a) : print mean of gpa with python internal libraries
# upto seconds decimal point.
sum = 0.0
for num in gpa:
    sum = sum + num
print(round(sum/len(gpa), 2))
print()

# Question 2 - b) : print mean and median of gpa with numpy
# upto second decimal point
print(np.mean(gpa))
print(np.median(gpa))
print()


# Question 2 - c) : print mean and median of gpa with pandas
# upto seconds decimal point.
print(round(pd_list["gpa"].mean(), 2))
print(pd_list["gpa"].median())

2.99

2.99
3.2

2.99
3.2

In [47]:
# Question 3 : Define the function for calculating the median value of
# python list with python internal libraries and print median value of
# gpa. (Only with built-in function.)
def getMedianValue(inputedList):
    list = inputedList[:]
    list.sort()
    
    if (len(list) % 2):
        return list[(len(list)-1) / 2]
    else:
        return (list[(len(list)-1) // 2] + list[(len(list)-1) // 2 + 1]) / 2

print(getMedianValue(gpa))

3.2

In [89]:
# Question 4 : Using pandas.DataFrame, sort all data by gpa and print row with
# the 3rd highest gpa.
pd_list.sort_values(by="gpa", ascending=False)[2:3]

   dep   sno  gpa
9  ice  0.01  3.7

In [79]:
# Question 5 : Print mean, max, min of gpa by group of dep.
def printMeanMaxMinByGroup(group):
    print("mean, max and min of", group)
    print(pd_list[pd_list.dep == group]["gpa"].mean())
    print(pd_list[pd_list.dep == group]["gpa"].max())
    print(pd_list[pd_list.dep == group]["gpa"].min())

printMeanMaxMinByGroup("cs")
printMeanMaxMinByGroup("dt")
printMeanMaxMinByGroup("dcd")
printMeanMaxMinByGroup("as")
printMeanMaxMinByGroup("ice")

mean, max and min of cs
2.8
3.5
2.1
mean, max and min of dt
3.75
4.5
3.0
mean, max and min of dcd
2.7
2.7
2.7
mean, max and min of as
3.575
4.0
3.15
mean, max and min of ice
2.316666666666667
3.7
0.0

In [118]:
# Question 6 Print mean of gpa of each dep by year as shown below using the 
# pivot. Use the data below.
pd_list["dep"] = ["cs", "cs", "dt", "dt", "dt", "as", "as", "cs", "dt", "as"]
pd_list["year"] = [2018, 2018, 2019, 2019, 2020, 2020, 2020, 2020, 2021, 2021]
pd_list["gpa"] = [2.10, 3.50, 4.50, 2.70, 3.00, 3.20, 4.00, 0.00, 3.20, 3.70]

pd_list.pivot_table(index="dep", columns="year", values="gpa")

year  2018  2019  2020  2021
dep
as     NaN   NaN   3.6   3.7
cs     2.8   NaN   0.0   NaN
dt     NaN   3.6   3.0   3.2